<!-- <html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Amik Metals</title>
</head> -->

{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="content-section">
  <div class="container">
    <div class="top-title">
      <h1>Quotation Details</h1>
    </div>
    <div class="col-xl-8 m-auto">
      <div class="card-wrap">
        <div class="card-box">
          <form method="POST" action="" novalidate>

            {% csrf_token %}
            {{ quotation_form|crispy }}
            <input type="submit" class="btn btn-warning new_submit_now w-100" value="Submit">
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}