@font-face{
  font-family:garamond;
  src: url(../fonts/garamond-bold/garamond.ttf) format("truetype");
}

@font-face{
  font-family:Garamond;
  src: url(../fonts/garamondregular/Garamond_Regular.ttf) format("truetype");
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 8px 0;
  background: #fff;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}
#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #222222;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 52px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 13px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #3498db;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #3498db;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #4aa3df;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #3498db;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #3498db;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #3498db;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /* height: 70vh;
  margin-top: 70px; */
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}
#hero h2 {
  color: #484848;
  /* margin-bottom: 50px; */
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
}
#hero .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}
/* #hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
} */
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  #hero {
    height: auto;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  /* #hero .hero-img img {
    width: 50%;
  } */
}
@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 24px !important;
    line-height: 20px;
    margin-bottom: 5px;
  }
  /* #hero .hero-img img {
    width: 70%;
  } */
}
@media (max-width: 575px) {
  /* #hero .hero-img img {
    width: 80%;
  } */
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  /* text-align: center; */
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;

}
/* .section-title h2::before, .section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
} */
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}
.section-title p {
  margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: #ffffff;
  padding: 70px 0;
  text-align: center;
}
.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}
.clients img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .clients img {
    width: 30%;
  }
} */

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #3498db;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #3498db;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #3498db;
}
.about .content .btn-learn-more:hover {
  background: #3498db;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 0;
}
.counts .content {
  padding: 0;
}
.counts .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #222222;
}
.counts .content p {
  margin-bottom: 0;
}
.counts .content .count-box {
  padding: 20px 0;
  width: 100%;
}
.counts .content .count-box i {
  display: block;
  font-size: 36px;
  color: #3498db;
  float: left;
  line-height: 0;
}
.counts .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #222222;
  margin-left: 50px;
}
.counts .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #484848;
}
.counts .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #484848;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.counts .content .count-box a:hover {
  color: #6f6f6f;
}
@media (max-width: 1024px) {
  .counts .image {
    text-align: center;
  }
  .counts .image img {
    max-width: 70%;
  }
}
@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.services .icon-box::before {
  content: "";
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: #3498db;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
  transition: all 0.3s ease-in-out;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #3498db;
}

/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 20px;
}
.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}
.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.more-services .card-title a {
  color: #222222;
}
.more-services .card-text {
  color: #5e5e5e;
}
.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}
.more-services .read-more a:hover {
  text-decoration: underline;
}
.more-services .card:hover .card-body {
  background: #3498db;
}
.more-services .card:hover .read-more a, .more-services .card:hover .card-title, .more-services .card:hover .card-title a, .more-services .card:hover .card-text {
  color: #fff;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}
.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}
.features .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}
.features .icon-box h3 a:hover {
  color: #3498db;
}
.features .icon-box:hover {
  background: #eef7fc;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/* .testimonials .testimonial-wrap {
  padding-left: 50px;
} */
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 0px 0px 0px 0px;
  margin: 15px 5px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #e1f0fa;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: inherit;
  margin: 5px auto 5px auto;
  font-size: 13px;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498db;
}
@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    padding: 0px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #3498db;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #3498db;
}
.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498db;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.team .member .social a i {
  line-height: 0;
}
.team .member .social a:hover {
  color: #3498db;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}
.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
.pricing .box h4 {
  font-size: 42px;
  color: #3498db;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #222222;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing .box ul li {
  padding-bottom: 16px;
}
.pricing .box ul i {
  color: #3498db;
  font-size: 18px;
  padding-right: 4px;
}
.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}
.pricing .box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .box .btn-buy:hover {
  background: #3498db;
  color: #fff;
}
.pricing .recommended {
  border-color: #3498db;
}
.pricing .recommended .btn-buy {
  background: #3498db;
  color: #fff;
}
.pricing .recommended .btn-buy:hover {
  background: #2383c4;
  border-color: #2383c4;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.faq .faq-item i {
  color: #8bc4ea;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}
.faq .faq-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 32px;
  font-family: "Poppins", sans-serif;
}
.faq .faq-item p {
  font-size: 15px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222;
}
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}
.contact .social-links {
  padding-bottom: 20px;
}
.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #3498db;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #3498db;
}
.contact .social-links a:hover {
  background: #3498db;
  color: #fff;
}
.contact .info {
  color: #444444;
}
.contact .info i {
  font-size: 32px;
  color: #3498db;
  float: left;
  line-height: 1;
}
.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #3498db;
}
.contact .php-email-form button[type=submit] {
  background: #3498db;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #2383c4;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8f8f8;
  min-height: 40px;
  margin-top: 86px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 72px;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
@media (max-width: 992px) {
  .breadcrumbs ol {
    margin-top: 10px;
  }
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c3c3c;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #060606;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}
#footer .footer-links a {
  color: #222222;
  padding-left: 15px;
}
#footer .footer-links a:first-child {
  padding-left: 0;
}
#footer .footer-links a:hover {
  color: #3498db;
}

/* for logo  */
.logo_position_set{
  position: relative;
  top: 0px;
  left: 10px;
}

/* .logo_position_set2{
  position: relative;
  top: -12px;
} */

.logo_text{
  font-size: 11px !important;
    text-transform: uppercase !important;
    font-family: garamond;
}

.top-left{
  position: absolute;
  top: 100px;
  left: 16px;
  padding-top: 100px !important;
    padding-left: 98px !important;
}
@media (max-width:991px) {
  .top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 90px !important;
    padding-left: 51px !important;
  }
  
}
@media (max-width:767px) {
  .top-left{
    position: absolute;
    top: 45px;
    left: 13px;
    padding-top: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}



.top_text_design{
  
    text-transform: uppercase !important;
    font-weight: 900;
    color: #ffffff !important;
    font-size: 39px !important;
}

@media (max-width:767px) {
  .top_text_design{
  
    text-transform: uppercase !important;
    font-weight: 900;
    color: #ffffff !important;
    font-size: 16px !important;
}
}

@media (max-width:767px) {
  .remove_brake{
    display: none;
  }
}
.p_text_de{
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.about_us_image{
  width: 100%;
  z-index: 1 !important;
}

.about_us_title{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.know_more{
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width:767px) {
  .know_more{
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }
}

.wearefound{
  font-size: 14px;
}

.about_section_rm_p{
  padding: 0 0 !important;
}
@media (max-width:767px) {
  .about_section_rm_p{
    padding: 0px 15px !important;
  }
}
.about_section_rm_top{
  padding-bottom:  0px !important;
}
.about_section_ad_p{
  padding: 154px 50px !important;
}
@media (max-width:767px) {
  .about_section_ad_p{
    padding: 60px 0 !important;
  }
}
.about_us_logd{
  width: 380px;
  margin-top: -200px;
  position: relative;
  left: -82px;
  z-index: -1;
}

@media (max-width:767px) {
  .about_us_logd {
      width: 248px;
      margin-top: -136px;
      position: relative;
      left: -63px;
      z-index: -22;
  }
  }

.testimonials_trmove{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.backg_testi{
  width: 100%;
  height: 50vh;
  background: url(../img/Our-Products-bg.jpg) center center;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  padding: 0;
}

.image_testi{
  width: 100%;
}

.our_products_heading{
    color: white;
    margin-top: 0px;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 900 !important;
    position: absolute;
    font-size: 32px;
}
.content_p{
  padding-left: 10px !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
}

.swiper-button-next {
  margin-top: 17px;
  position: relative;
  top: 50%;
  right: 0px;
  width: 35px;
  height: 35px;
  transform: translateY(-50%);
  color: #ffc107 !important;
  border: 1px solid #ffc107;
  float: right;

}
.swiper-button-prev {
  position: relative;
    top: 0%;
    left: -3px;
    width: 35px;
    height: 35px;
    /* transform: translateY(-50%); */
    margin-top: 0px;
    color: #ffc107 !important;
    border: 1px solid #ffc107;
    float: right;
}

.ourp_margin{
  margin-top: -200px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 15px !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 15px !important;
}

.globe_image{
  width: 100%;
}

.vlp_btton_center{
  text-align: center;
  padding-top: 50px;
}


/* for galary img */
#gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  
  -webkit-column-gap:0px;
  -moz-column-gap:0px;
  column-gap:0px;
}
@media (max-width:1200px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
    
  -webkit-column-gap:0px;
  -moz-column-gap:0px;
  column-gap:0px;
}
}
@media (max-width:800px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
    
  -webkit-column-gap:0px;
  -moz-column-gap:0px;
  column-gap:0px;
}
}
@media (max-width:600px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}  
}
#gallery img,#gallery video {
  width:100%;
  height:auto;
  margin: 0% auto;
  /* box-shadow:-3px 5px 15px #000; */
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}

.grid_1st{
  width: 100%;
    z-index: -1 !important;
 
    position: relative;
}
.flote_left_de{
  float: right;
}

.grid_2st{
  height: 370px;
    margin-top: -245px;
    z-index: 8 !important;
}

@media (max-width:767px) {
  .grid_2st {
    height: auto;
    margin-top: 0px;
    z-index: 8 !important;
    width: 100%;
}
}
.for_current_sector{
  padding-left: 0px !important;
    padding-right: 0px !important;
}

.amik_Images{
  width: 158px;
}

.footer-logo{
  text-align: center;
}

.logo_text_footer {
  font-size: 25px !important;
  text-transform: uppercase !important;
  font-weight: 700;
  font-family: garamond;
}

.recounts_dep{
  padding-bottom: 0px !important;
}


/* about_us_section_css */
.about_us_headings{
  color: black;
  text-transform: uppercase;
  font-weight: 900;
}

.ab_heading_undert{
  font-size: 14px;
  padding-top: 5px;
}

.about_us_image_factory{
  width: 100%;
}

.removing_pagging_top{
  padding: 0px 0px !important;
}

.rmoving_bootm_padding{
 padding-bottom: 0px !important;
}

.con_remov_p{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.about_us_image_fact{
  width: 100%;
}

.background_col_sec{
  background-color: #1c4899;
  height: 411px;
  padding-top: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    padding-left: 90px;
}

.mechining_design{
  font-size: 32px;
letter-spacing: -1px;
line-height: 50px;
color: #ffffff;
font-weight: 700;
/* font-family: "Barlow Condensed"; */
text-transform:uppercase ;
}

.lorem_ipsom_de{
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;
  /* font-family: "Poppins"; */
}

.background_col_sec2{
  background-color: #3a91cf;
  height: 411px;
  padding-top: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    padding-left: 90px;
}

.background_col_sec3{
  background-color: #66bce7;
  height: 411px;
  padding-top: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    padding-left: 90px;
}
.our_product_ds{
  text-align: center;
}

.specilaization{
  width: 40px;
}

.specilaization2{
 width: 40px;
}

.specilaization3{
  width: 32px;
 }

 .lorem_ipsom_de_re {
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  font-weight: 400;
  font-family: "Poppins";
}

.pillbg{
  color: #fff !important;
  background-color: #ffc63e !important;
  font-weight: 900 !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-left: 90px;
  padding-right: 90px;

  
}

.pillbg2{
  color: #fff !important;
  background-color: #1c4899 !important;
  font-weight: 900 !important;
  border-radius: 0px !important;
  padding-left: 80px;
  padding-right: 80px;

}

.pillbg3{
  color: #fff !important;
  background-color: #2958ad !important;
  font-weight: 900 !important;
  border-radius: 0px !important;
  padding-left: 90px;
  padding-right: 90px;

}

.mechining_greenfild{
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #000000;
  font-weight: 700;
  /* font-family: "Barlow Condensed"; */
  text-transform: uppercase;
  padding-top: 80px;
}

.lorem_ipsom_de_new{
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: 400;
  /* font-family: "Poppins"; */
  
}

/* ....electroplating css... */

.pae_distribution{
  margin-top: 50px;
}

.lorem_ipsom_de_re{
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  padding-bottom: 15px;
}

.portfolio-infode{
  text-align: center;
}

.about_factory{
  position: relative;
    top: -3px;
}

.about_factory_re{
  width: 100%;
}

.about_fact{
  width: 35px;
    position: relative;
    top: 22px;
}

.color_bkk{
  background-color: #1c4899;
}

.border_line{
  border-right: 1px solid rgb(255, 255, 255);
}

.email_ustext{
  font-size: 12px;
    color: #ffffffc7;
    font-weight: 400;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.email_details{
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 0px;
}

.for_padding_concept{
  padding-top: 5px !important;
  padding-right: 40px !important;
  padding-bottom: 5px !important;
  padding-left: 40px !important;
  width: 295px;
}

.for_padding_concept2{
  padding-top: 5px !important;
  padding-right: 80px !important;
  padding-bottom: 5px !important;
  padding-left: 40px !important;
  width: 295px;
}

.about_can_location{
  width: 15px;
}

.background_leftsection {
  background-color: #eff6fe;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.ORPORATEOFFICE{
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 40px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;

}

.lorem_i_dir {
  font-size: 12px;
  line-height: 17px;
  color: #444444;
  font-weight: 400;
  font-family: "Poppins";
}

.new_factory_img{
  width: 100%;
}

.ertyui_kjhgf{
  font-size: 32px;
    letter-spacing: -1px;
    line-height: 38px;
    color: #1e1e1e;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width:767px) {
  .ertyui_kjhgf {
      font-size: 30px;
      letter-spacing: -1px;
      line-height: 30px;
      color: #1e1e1e;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 15px;
  }
  }

.lo_i_dir{
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins";
}
.new_submit_now{
  border-radius: 0px !important;
}

.career_heading{
  font-size: 32px;
    letter-spacing: -1px;
    line-height: 50px;
    color: #1e1e1e;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}

.redesign_container{
  padding-left: 150px;
    padding-right: 150px;
}

@media (max-width:991px) {
  .redesign_container{
    padding-left: 0px;
      padding-right: 0px;
  }
}

.recostruction-bg{
 
  background-color: #ffff;
  z-index: 9999999;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 26%);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.Personal-Details{
  font-weight: 700;
    padding-bottom: 10px;
    color: black;
}



.input-feild{
  font-size: 12px !important;
    font-weight: 600;
    /* color: black !important; */
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.submit_botton_next{
  text-align: center;
}

.input_file_padding{
  padding-left: 20px;
}

@media (max-width:991px) {
  .current-sector-de{
    position: relative; 
     top: 125px;
  }
}

@media (max-width:767px) {
  .current-sector-de{
    position: relative; 
     top: 0px;
  }
}


.amik_footer_banner{
  width: 100%;
  z-index: -24 !important;
  margin-top: -460px;
  position: relative;
}

.pab_g{
  padding-bottom: 60px !important;
}

.infrat_text_de{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  color: #222222;
  text-align: right;
}

.infrat_text_de2{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  color: #222222;
  text-align: left;
}

.infra_bottom_text{
  font-size: 13px;
    line-height: 17px;
    color: #000000;
    font-weight: 400;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 0px !important;
  
}



.infra_bottom_text2{
  font-size: 13px;
    line-height: 17px;
    color: #000000;
    font-weight: 400;
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 0px !important;
}

.infra_image{
  width: 100%;
}

.infa_text_re{
 margin-top: 80px; 
}

@media (max-width:767px) {
  .infa_text_re{
    margin-top: 30px; 
   }
}

.logo_back{
  width: 456px;
    position: relative;
    margin-top: -342px;
    z-index: -1;
}

@media (max-width:767px) {
  .protfolio_top_re{
    padding-top: 0px !important;
  }
}


.bold_font{
  font-weight: 900 !important;
}

.clickble_file{
  cursor: pointer;
  transition: transform .6s;
  z-index: -10;
  margin-bottom: 20px;
  padding: 5px;
}
.clickble_file:hover{
  cursor: pointer;
  background-color: #a8dbf5;
  
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  /* margin: 10px; */
  z-index: 10;
}

.click_left:hover{
  border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.click_right:hover{
  border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pppl_de{
  padding-left: 50px;
}

@media (max-width:991px) {
  .pppl_de{
    padding-left: 12px;
  }
}

.Casting_block1{
  display: flex;
}
@media (max-width:767px) {
  .Casting_block1{
    display: None;
  }
}

.Casting_block2{
  display: None;
}
@media (max-width:767px) {
  .Casting_block2{
    display: flex;
  }
}

.hide_current_sector1{
  display: block;
}
@media (max-width:767px) {
  .hide_current_sector1{
    display: none;
  }
}

.hide_current_sector2{
  display: none;
}
@media (max-width:767px) {
  .hide_current_sector2{
    display: flex;
  }
}

.padding_left_re{
  padding-left: 0px !important;
}
.padding_right_re{
  padding-right: 0px !important;
}

@media (max-width:767px) {
  .margintop{
    margin-top: 50px;
  }
}

.lorem_ipsom_de_re_new{
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}

.inf_r_padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width:767px) {
  .inf_r_padding{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* User Admin */
.user-nav .navbar-expand-lg .navbar-nav.side-menu{
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background: #3498db;
  background: #1C4899;
  height: 100vh;
  width: 170px;
  padding-top: 70px;
}
.user-nav #header .logo h1{
  padding-left: 30px;
}
.user-nav #header{
  padding: 0;
}
.user-nav .logo_position_set a{
  padding-bottom: 0;
}
.user-nav .logo_position_set{
  top: -5px;
  left: 85px;
}
.user-nav .navbar{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  margin: auto;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
  z-index: 100;
}
.user-nav .side-menu .nav-link{
  padding: 20px 10px;
  color: #fff;
}
.user-nav .side-menu .nav-link:hover{
  background-color: hwb(218deg 55% 15% / 37%);
  color: #fff;
}
.user-nav .side-menu .nav-item{
  width: 100%;
}
.content-section{
  margin-left: 170px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.log-wrap .form-group,
.content-section .form-group{
  margin-bottom: 15px;
}
.log-wrap label,
.content-section label{
  margin-bottom: 6px;
  text-transform: capitalize;
  font-size: 15px;
}
.log-wrap .form-control,
.content-section .form-control{
  border-radius: 0;
  font-size: 15px;
}
.top-title{
  width: 33%;
  text-align: center;
  margin: auto;
}
.top-title h1 {
  position: relative;
  padding: 0;
  margin: 0;
  text-align:center;
  text-transform:uppercase;
  font-size:25px; 
  letter-spacing:1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
  font-weight: 700;
  color: #080808;
  margin: 20px 0;
}
.top-title h1:after,.top-title h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
}
.card-wrap{
  position: relative;
  box-shadow: -1px 3px 15px rgb(0 0 0 / 14%);
}
.card-box{
  padding: 2rem;
}
.p-lft{
  padding-left: 10rem;
}
.media {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -135px;
  height: 270px;
  width: 270px;
  background: #f3f4f5;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 12%);
}
.account-img{
  width: 190px;
}
.account-heading{
  font-size: 22px;
  margin-top: 10px;
}
.alert{
  color: #fff;
  position: fixed;
  width: 335px;
  top: 100px;
  right: 0;
  z-index: 1;
  margin: auto;
  text-align: center;
  font-size: 17px;
  text-transform: capitalize;
  border: 0;
  border-radius: 33px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.alert.alert-error{
  background: #cb1414;
}
.alert.alert-success{
  background: #3b9325;
}
.content-section .table th{
  background-color: hwb(218deg 55% 15% / 70%);
}
.content-section .table th, td{
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 0;
  border-right: 0.5px solid #dee2e6;
}
.content-section .table td{
  padding: 17px 0.5rem;
}
.content-section .table{
  border: 1px solid #dee2e6;
}
.icon-tab{
  width: 100px;
}
.icon-tab img{
  width: 20px;
  margin: 0 7px;
}
.icon-tab .d-flex{
  justify-content: center;
}
.dash-wrap .card{
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}
.log-wrap{
  background-color: #fff;
  box-shadow: 0 1px 16px 0 rgb(0 0 0 / 10%);
  padding: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 12rem;
}
.log-wrap h2{
  font-size: 14px;
  text-align: center;
  margin-bottom: 17px;
  font-weight: 600;
}
.log-wrap h3{
  font-size: 22px;
  text-align: center;
  margin-bottom: 17px;
  font-weight: 600;
}
.log-sec{
  background-color: #f8f9fa;
  height: 100%;
}
.log-sec .user-nav .navbar{
  box-shadow: unset;
}
.log-sec .user-nav .logo_position_set {
  top: 90px;
  left: 44%;
}
.log-sec .head-drop{
  display: none;
}
.navbar .head-drop.dropdown ul{
  left: -35px;
  border: 0;
  box-shadow: 0 1px 16px 0 rgb(0 0 0 / 10%);
}
.navbar .head-drop.dropdown ul li:hover{
  background-color: #f8f9fa;
  transition: .3s ease;
}
.navbar .head-drop.dropdown ul li a:hover{
  color: #3498db;
}
.head-drop ul li a,
.head-drop a{
  font-size: 13px;
}
.head-drop img{
  width: 26px;
  margin-right: 7px;
}
.pos-box{
  position: relative;
}
.log-wrap.login-wrap{
  padding: 3rem;
}
.multi-sel{
  border: 1px solid #dee2e6;
  padding: 2rem;
  margin-top: 35px;
}