<!DOCTYPE html>
<html lang="en">

<head>
  {%load static%}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Amik Metals | Amik Metals Pvt. Ltd.</title>
    <meta name="description" content="We are A Ferrous Foundry located in Uluberia, 44 kms away from Kolkata. Having State-of-the-art equipment, specialised manpower and a dedicated team of professionals." >
    <meta name="keywords" content="Amik Metals, Amik Metals Pvt. Ltd." >

    <!-- Favicons -->
    <link href={%static "assets/img/amik_Logo_PNG.png"%} rel="icon">
    <link href={%static "assets/img/apple-touch-icon.png"%} rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={%static "assets/vendor/aos/aos.css"%} rel="stylesheet">
    <link href={%static "assets/vendor/bootstrap/css/bootstrap.min.css"%} rel="stylesheet">
    <link href={%static "assets/vendor/bootstrap-icons/bootstrap-icons.css"%} rel="stylesheet">
    <link href={%static "assets/vendor/boxicons/css/boxicons.min.css"%} rel="stylesheet">
    <link href={%static "assets/vendor/glightbox/css/glightbox.min.css"%} rel="stylesheet">
    <link href={%static "assets/vendor/remixicon/remixicon.css"%} rel="stylesheet">
    <link href={%static "assets/vendor/swiper/swiper-bundle.min.css"%} rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href={%static "assets/css/style.css"%} rel="stylesheet">

  <style>
    ::-webkit-input-placeholder { /* Edge */
  color: rgb(34, 34, 34) !important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: rgb(34, 34, 34) !important;
}

::placeholder {
  color: rgb(34, 34, 34) !important;
}

  </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo logo_position_set">
                <a href="{% url 'index' %}"><img class="logo_position_set2" src={%static "assets/img/amik_Logo_PNG.png"%} alt=""></a>
                <h1 class="logo_text">Amik Metals</h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src={%static "assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="nav-link scrollto " href="{% url 'index' %}">Home</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'about' %}">About Us</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'product' %}">Products</a></li>
                  <li><a class="nav-link scrollto " href="{% url 'electro' %}">ZINC ELECTROPLATING</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'infra' %}">Infrastructure</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'career' %}">Career</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center about_section_rm_top">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pt-0 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
                    data-aos="fade-up" data-aos-delay="0">
                    <img src={%static "assets/img/Career-Banner.jpg"%} class="img-fluid animated" alt="">
                    <div class="top-left">
                        <h2 data-aos="fade-up" data-aos-delay="400" class="top_text_design">Career
                        </h2>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">
        <!-- new section -->
        <section class="pab_g">
            <div class="container redesign_container">
                <div class="">
                    <h1 class="career_heading">join us for a great opportunity</h1>
                </div>
                <div class="row content recostruction-bg">
                  
                    <div class="col-lg-12 pt-0 pt-lg-0 " data-aos="fade-up" data-aos-delay="300">
                        
                      <form method="post" enctype="multipart/form-data" action="/career">
                          {% csrf_token %}
                              <h6 class="Personal-Details">Personal Details</h6>
                                <div class="row ">
                                  <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control new_submit_now input-feild" placeholder="First name" name="firstname" id="firstname">
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control new_submit_now input-feild" placeholder="Last name" name="lastname" id="lastname">
                                  </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6 mb-3">
                                      <input type="text" class="form-control new_submit_now input-feild" placeholder="Email" name="email" id="email">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <input type="text" class="form-control new_submit_now input-feild" placeholder="Phone"  name="phone" id="phone">
                                    </div>
                                  </div>
                                  <h6 class="Personal-Details">Experience Details</h6>
                                  <div class="row ">
                                    <div class="col-md-6 mb-3">
                                      <input type="text" class="form-control new_submit_now input-feild" placeholder="Current Role" name="role" id="role">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <input type="text" class="form-control new_submit_now input-feild" placeholder="Current Company Name" name="company" id="company">
                                    </div>
                                  </div>
                                  <div class="row ">
                                    <div class="col-md-6 mb-3">
                                      <input type="text" class="form-control new_submit_now input-feild" placeholder="Company Location" name="location" id="location">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <input type="text" class="form-control new_submit_now input-feild" placeholder="Notice Period" name="noticeperiod" id="noticeperiod">
                                    </div>
                                  </div>
                                  <div class="row ">
                                      <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control new_submit_now input-feild" placeholder="Current CTC" name="currentctc" id="currentctc">
                                      </div>
                                      <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control new_submit_now input-feild" placeholder="Expected CTC" name="expectedctc" id="expectedctc">
                                      </div>
                                    </div>
                                    <h6 class="Personal-Details">Qualification</h6>
                                    <div class="row ">
                                        <div class="col-md-6 mb-3">
                                          <input type="text" class="form-control new_submit_now input-feild" placeholder="Highest Qualification" name="degree" id="degree">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                          <input type="text" class="form-control new_submit_now input-feild" placeholder="Year of passing out" name="yop" id="yop">
                                        </div>
                                      </div>
                                      <h6 class="Personal-Details">Upload Your CV</h6>
                                      <div class="row mb-3">
                                          <div class="col-md-12">
                                            <input  type="file" class="form-control new_submit_now input-feild form-control-file input_file_padding" placeholder="Current CTC" accept=".doc, .docx, .pdf"
                                            name="cv" id="cv">
                                          </div>
                                          
                                        </div>

                            <div class="submit_botton_next">
                                <button type="submit" class="btn btn-warning new_submit_now">SUBMIT NOW</button>
                            </div>
                           
                          </form>
                    </div>
                </div>
            </div>
            <img src={%static "assets/img/Career-foot.png"%} class="amik_footer_banner" alt="">
        </section>


        <!-- ebd new section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer-area py-5">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="footer-logo mb-3">
                            <img src={%static "assets/img/About-Us-logo.png"%} class="amik_Images" alt="">
                            <h1 class="logo_text_footer">Amik Metals</h1>
                        </div>
                        <h6 class="text-light">

                        </h6>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                        <h5 class="footer-titel">Corporate Office</h5>
                        <p>
                            2 Hare Street
                            Nicco House, 6th Floor
                            Kolkata 700001, INDIA.
                        </p>
                        <h5 class="footer-titel">Factory Address</h5>
                        <p>
                            Kaijuri, P.O: Kaijuri, P.S: Uluberia, Uluberia - 1
                            Howrah - 711316, West Bengal, INDIA
                        </p>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                        <h5 class="footer-titel">Contact</h5>
                        <p>
                          (+91) 98 31955404 <br>
                          (+91) 90077 74688<br>
                          ankit@amikmetals.com<br>
                          anish@amikmetals.com<br>
                            we reply within 24 hours
                        </p>
                        <div>
                            <script type="text/javascript"> //<![CDATA[
                                var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
                                document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                //]]></script>
                            <script language="JavaScript" type="text/javascript">
                                TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- </footer> -->
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src={%static "assets/vendor/purecounter/purecounter.js"%}></script>
    <script src={%static "assets/vendor/aos/aos.js"%}></script>
    <script src={%static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>
    <script src={%static "assets/vendor/glightbox/js/glightbox.min.js"%}></script>
    <script src={%static "assets/vendor/isotope-layout/isotope.pkgd.min.js"%}></script>
    <script src={%static "assets/vendor/swiper/swiper-bundle.min.js"%}></script>
    <script src={%static "assets/vendor/php-email-form/validate.js"%}></script>

    <!-- Template Main JS File -->
    <script src={%static "assets/js/main.js"%}></script>

</body>

</html>